<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WOSApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <WOSApi.Properties.Settings>
            <setting name="WOSApi_WOSSearch_WokSearchService" serializeAs="String">
                <value>http://search.webofknowledge.com/esti/wokmws/ws/WokSearch</value>
            </setting>
            <setting name="WOSApi_WOSAuthentication_WOKMWSAuthenticateService"
                serializeAs="String">
                <value>http://search.webofknowledge.com/esti/wokmws/ws/WOKMWSAuthenticate</value>
            </setting>
        </WOSApi.Properties.Settings>
    </applicationSettings>
</configuration>