@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("Index", "Articles", FormMethod.Get))
{

    <div style="text-align:center">
        <p style="margin:10%">
            Author: @Html.TextBox("author")
            <br />
            <br />
            <input type="submit" value="Search" /> 
        </p>
    </div>

}