@model WOS_.Helpers.StatisticsHelper

<div id="statisticsDiv">
    <p><b>Items found:</b> @Model.ItemsFound </p>
    <p><b>Sum of the Times Cited:</b> @Model.SumOfCitations </p>
    <p><b>Average Citations per Item:</b> @Model.AverageNumOfCitations </p>
    <p><b>h-index:</b> @Model.HIndex </p>

</div>